Repository thunder/thunder-distribution, pull requests merged in 2020-08, with the labels that each got.

#277 Fix performance nightwatch tests
  tests/src/Nightwatch/Tests/ContentOverviewFiltering.js
Labels: test-performance

#284 fix: install with older project
  .github/workflows/test.yml
Labels: test-upgrade

#283 Fix CI runs: Do not follow symlinks when tarring the build artifact
  .github/workflows/test.yml
Labels: 5.x

#282 Fix CI runs: Do not follow symlinks when tarring the build artifact
  .github/workflows/test.yml
  .gitignore
  tests/src/FunctionalJavascript/ArticleCreationTest.php
  tests/src/FunctionalJavascript/Integration/LiveblogTest.php
Labels: 4.x

#275 Alex performance testing
  tests/src/Nightwatch/Commands/fillEntityBrowser.js
Labels: test-performance

#286 Fix entity browser selecting in performance tests
  tests/src/Nightwatch/Commands/fillEntityBrowser.js
Labels: test-performance

#288 refactor: streamline composer.json with 6.0.x branch
  composer.json
Labels: test-min, test-upgrade

#279 fix: performance testing 4.x (#249)
  .github/workflows/test.yml
  tests/src/Nightwatch/Commands/fillEntityBrowser.js
  tests/src/Nightwatch/Tests/ContentOverviewFiltering.js
Labels: test-performance

#261 Issue #2899254 by chr.fritsch, volkerk: Integrate editorial search with Search API module
  .github/workflows/test.yml
  README.md
  composer.json
  config/install/config_selector.feature.thunder_content_view.yml
  config/optional/views.view.content.yml
  config/update/thunder_update_8310.yml
  modules/thunder_search/README.md
  modules/thunder_search/config/optional/block.block.seven_exposedformcontent_search_apipage_1.yml
  modules/thunder_search/config/optional/block.block.seven_facet_author.yml
  modules/thunder_search/config/optional/block.block.seven_facet_channel.yml
  modules/thunder_search/config/optional/block.block.seven_facet_promoted.yml
  modules/thunder_search/config/optional/block.block.seven_facet_status.yml
  modules/thunder_search/config/optional/block.block.seven_facet_sticky.yml
  modules/thunder_search/config/optional/block.block.seven_facet_tags.yml
  modules/thunder_search/config/optional/block.block.seven_facet_type.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_exposedformcontent_search_apipage_1.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_facet_author.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_facet_channel.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_facet_promoted.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_facet_status.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_facet_sticky.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_facet_tags.yml
  modules/thunder_search/config/optional/block.block.thunder_admin_facet_type.yml
  modules/thunder_search/config/optional/core.entity_view_display.node.article.search_index.yml
  modules/thunder_search/config/optional/core.entity_view_display.node.page.search_index.yml
  modules/thunder_search/config/optional/facets.facet.author.yml
  modules/thunder_search/config/optional/facets.facet.channel.yml
  modules/thunder_search/config/optional/facets.facet.promoted_to_front_page.yml
  modules/thunder_search/config/optional/facets.facet.status.yml
  modules/thunder_search/config/optional/facets.facet.sticky_at_top_of_lists.yml
  modules/thunder_search/config/optional/facets.facet.tags.yml
  modules/thunder_search/config/optional/facets.facet.type.yml
  modules/thunder_search/config/optional/facets.facet_source.search_api__views_page__content_search_api__page_1.yml
  modules/thunder_search/config/optional/search_api.index.content.yml
  modules/thunder_search/config/optional/search_api.server.database.yml
  modules/thunder_search/config/optional/views.view.content_search_api.yml
  modules/thunder_search/thunder_search.info.yml
  modules/thunder_search/thunder_search.module
  tests/src/Functional/InstalledConfigurationTest.php
  tests/src/Functional/ModuleUninstallTest.php
  tests/src/FunctionalJavascript/Integration/ConfigSelectorTest.php
  tests/src/Nightwatch/Tests/CreateMostUsedContent.js
  tests/src/Nightwatch/Tests/SearchApiContentOverviewFiltering.js
  thunder.install
  updates_checklist.yml
Labels: 5.x, test-min, test-performance, test-upgrade

#293 Issue #3167629: Release Thunder 6.0.1
  CHANGELOG.md
  composer.json
  thunder.info.yml
Labels: test-min, test-performance, test-upgrade

#292 Issue #3167628: Release Thunder 3.5.3
  CHANGELOG.md
  thunder.info.yml
Labels: test-min, test-performance, test-upgrade
