Repository thunder/thunder-distribution, pull requests merged in 2022-12, with the labels that each got.

#626 Issue #3328054 by daniel.bosen: Release Thunder 6.4.4
  CHANGELOG.md
  composer.json
  thunder.info.yml
Labels: test-min, test-upgrade

#633 Fix upgrade test after composer 2.5 release
  .github/workflows/tests.yml
Labels: test-upgrade

#634 remove robo require
  .github/workflows/tests.yml
Labels: test-min
