Repository thunder/thunder-distribution, pull requests merged in 2022-01, with the labels that each got.

#488 Issue #3257048 by ciprian.stavovei, anagomes: Thunder 6.2.x: Allow fa…
  composer.json
Labels: test-min

#489 Keep Drupal version within minor releases on updates.
  .github/workflows/tests.yml
  composer.json
Labels: test-min, test-upgrade

#492 Remove mention of instant articles
  config/optional/field.field.node.article.field_teaser_media.yml
Labels: test-min, test-upgrade

#497 fix: thunder tests
  composer.json
  tests/src/Functional/InstalledConfigurationTest.php
Labels: test-min, test-upgrade

#473 Issue #3259071 by chr.fritsch, daniel.bosen, volkerk: Enable new paragraphs_features quick links functionality
  composer.json
  config/optional/core.entity_form_display.node.article.default.yml
  config/optional/core.entity_form_display.taxonomy_term.channel.default.yml
  config/optional/core.entity_form_display.taxonomy_term.tags.default.yml
  config/update/thunder_update_8318.yml
  docs/contributing.md
  tests/src/FunctionalJavascript/ThunderParagraphsTestTrait.php
  thunder.install
  updates_checklist.yml
Labels: test-min, test-upgrade

#380 Issue #3259163 by chr.fritsch, daniel.bosen: Add structured data to Thunder article by a JSON-LD schema
  composer.json
  config/optional/metatag.metatag_defaults.node__article.yml
  config/update/thunder_update_8319.yml
  modules/thunder_gqls/config/install/graphql.graphql_servers.thunder_graphql.yml
  modules/thunder_gqls/tests/examples/jsonld.response.json
  modules/thunder_gqls/tests/src/Functional/JsonLdSchemaTest.php
  tests/src/FunctionalJavascript/MetaInformationTest.php
  tests/src/FunctionalJavascript/ThunderMetaTagTrait.php
  thunder.info.yml
  thunder.install
  updates_checklist.yml
Labels: test-upgrade

#499 fix: slick config
  composer.json
  config/optional/slick.optionset.thunder_gallery.yml
  tests/src/Functional/Installer/ThunderInstallerGermanTest.php
Labels: test-min, test-upgrade

#501 Metatag tokens
  config/optional/metatag.metatag_defaults.node__article.yml
  config/update/thunder_update_8319.yml
  config/update/thunder_update_8320.yml
  modules/thunder_gqls/tests/examples/jsonld.response.json
  modules/thunder_gqls/tests/examples/metatags.query.graphql
  modules/thunder_gqls/tests/examples/metatags.response.json
  modules/thunder_gqls/tests/examples/metatags.variables.json
  modules/thunder_gqls/tests/src/Kernel/DataProducer/ThunderMetatagsTest.php
  tests/src/Kernel/MetatagTest.php
  tests/src/Traits/ThunderKernelTestTrait.php
  thunder.install
  updates_checklist.yml
Labels: test-min, test-upgrade

#502 Issue #3260068: Release Thunder 6.3.2
  CHANGELOG.md
  thunder.info.yml
Labels: test-min, test-upgrade

#508 Issue #3260558 by daniel.bosen: Release Thunder 6.3.3
  CHANGELOG.md
  thunder.info.yml
  updates_checklist.yml
Labels: test-min, test-upgrade
