Repository thunder/thunder-distribution, pull requests merged in 2024-04, with the labels that each got.

#785 Update graphql module
  composer.json
  tests/modules/thunder_test_mock_request/thunder_test_mock_request.install
Labels: test-min, test-upgrade

#791 Enable paragraphs split
  .github/workflows/test.yml
  config/install/editor.editor.basic_html.yml
  config/install/editor.editor.full_html.yml
  config/install/filter.format.basic_html.yml
  config/update/thunder_post_update_0002_enable_paragraphs_split.yml
  phpstan-baseline.neon
  tests/src/FunctionalJavascript/Integration/ParagraphSplitTest.php
  thunder.post_update.php
  updates_checklist.yml
Labels: test-upgrade

#793 Issue #3444366: Release Thunder 7.2.2
  CHANGELOG.md
  composer.json
  thunder.info.yml
Labels: test-min, test-upgrade, dependencies
